/* themeColors (find and replace)
lightbrown = #a9906f
brown = #bf8d4c
darkbrown = #5e4627
*/

.container-custom {
    width: 100%;
    padding: 0 15px;
}


/* base styles */

body,
html {
    height: 100%;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald';
}

.menuArea {
    background: #292c31;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 20;
}

.mainArea {
    width: 100%;
    z-index: 30;
}

.logo {
    text-align: center;
}

.btn {
    border-radius: 0;
    box-shadow: none;
    border: none;
}


/* main menu */

.menuHolder {
    font-family: 'oswald';
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    margin: 30px 0;
}

.menuHolder ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuHolder li {
    border-bottom: 1px solid #353940;
    padding: 15px 0;
    text-align: center;
    position: relative;
    border-right: 5px solid transparent;
}

.menuHolder li:first-child {
    border-top: 1px solid #353940;
}

.menuHolder li.current-menu-item,
.menuHolder li.current-page-ancestor,
.menuHolder li.current_page_item,
.menuHolder li.current_page_parent {
    border-right: 5px solid #a9906f;
}

.menuHolder a {
    color: #ddd;
    text-decoration: none;
}

.menuHolder .sub-menu,
.menuHolder .children {
    display: none;
    margin: 0;
    right: -255px;
    width: 250px;
    top: 0px;
    display: none;
    padding: 0 0 1px 0;
    position: absolute;
    background: #ECE5DB;
}

.menuHolder li:hover>.sub-menu,
.menuHolder li:hover>.children {
    display: block;
}

.menuHolder .sub-menu a,
.menuHolder .children a {
    color: #827564;
    text-decoration: none;
}

.menuHolder .sub-menu li:first-child,
.menuHolder .children li:first-child {
    border-top: none;
}

.menuHolder .sub-menu li:last-child,
.menuHolder .children li:last-child {
    border-bottom: none;
}

.menuHolder .sub-menu li,
.menuHolder .children li {
    border-bottom: 1px solid #f4ede3;
}


/* homepage */

.home_cta {
    background: #eee;
    padding: 100px 0;
}


/* footer: form */

footer {
    position: relative;
}

footer .cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: none;
    background: rgba(0, 0, 0, 0.4);
}

.footerForm .gform_wrapper .top_label .gfield_label {
    display: none;
}

.footerForm textarea#input_2_3,
.footerForm .gform_wrapper .hidden_label input.large,
.footerForm .gform_wrapper .hidden_label select.large,
.footerForm .gform_wrapper .top_label input.large,
.footerForm .gform_wrapper .top_label select.large {
        margin-top: .375em;
    background: rgba(255, 255, 255, .2);
    border: none;
    width: 100%;
        padding: 14px;
}

.footerForm .gform_wrapper .gform_footer input.button,
.footerForm .gform_wrapper .gform_footer input[type=image],
.footerForm .gform_wrapper .gform_footer input[type=submit] {
        background: #eee;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 11px 0;
    font-size: 19px;
    font-weight: 300;
    margin: 0;
}

.footerSlogan {
    margin: 200px 0 0;
}
.footerSlogan * {
    line-height: 1.4em;
    font-size: 34px;
    color: #fff;
    text-shadow: 1px 0 3px rgba(0,0,0,.3);
    font-weight: 400;
    text-transform: uppercase;
}


/* add_action : pagina header styles */

.paginaHeader img,
#headerVideo {
    max-width: 100%;
    height: auto;
}

.paginaHeaderContent {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    text-align: center;
}

.paginaHeaderContentTitel {
    font-size: 45px;
    color: #fff;
    text-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
}

.paginaHeaderContentSubtitel {
    font-size: 30px;
    color: #ddd;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
/* shortcode: counterBox */

.counterBox {
    margin: 15px 0;
    padding: 8px 19px 20px 20px;
    background-color: #eee;
    text-align: center;
}
.counterBoxCounterHolder {
    color: #bf8d4c;
    font-size: 3em;
    font-family: 'Oswald';
}

/* shortcode: pageblocks */

.pageBlock {
    margin: 15px 0;
    padding: 8px 19px 20px 20px;
    background-color: #eee;
}

.pageBlock .ctaHolder {
    display: block;
    text-align: center;
}

.pageBlock .btn {
    display: inline-block;
}


/* Footer styles  */


/* shortcode: socialbuttons */

.menuArea .socialButtons {
    text-align: center;
    padding: 0 40px;
}

.menuArea .socialButtons li {
    display: inline-block;
    text-align: center;
    background: #454b4f;
    border-radius: 9999px;
    width: 35px;
    height: 35px;
    margin: 7px;
}

.socialButtons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.socialButtons li {
    display: inline;
}

.socialButton {
    padding: 8px 8px;
    display: block;
}

.socialButton:before {
    font: normal normal normal 16px/1 FontAwesome;
    width: 1.2em;
    margin-right: 5px;
    display: inline-block;
    content: ' ';
    color: #6f7477;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.socialButton:hover:before {
    color: #888;
}

.socialButton.facebook:before {
    content: "\f09a";
}

.socialButton.twitter:before {
    content: "\f099";
}

.socialButton.pinterest:before {
    content: "\f231";
}

.socialButton.linkedIn:before {
    content: "\f0e1";
}

.socialButton.youtube:before {
    content: "\f167";
}

.socialButton.googleplus:before {
    content: "\f0d5";
}

.socialButton.vimeo:before {
    content: "\f27d";
}

.socialButton.instagram:before {
    content: "\f16d";
}

.socialButton.tumblr:before {
    content: "\f173";
}

.socialButton.flickr:before {
    content: "\f16e";
}


/* Responsive  */


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .logo {
        text-align: center;
        margin: 100px 0 80px 0;
    }
    .menuArea,
    .mainArea {
        position: relative;
    }
    .menuArea {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 250px;
        min-height: 100%;
        z-index: 50;
    }
    .mainArea {
        margin-left: 250px;
        width: calc(100% - 250px);
        min-height: 100%;
        z-index: 30;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .container-custom {
        width: 960px;
        margin: 0 auto;
    }
}


/*==========  Non-Mobile First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}


/* wp fix */

@media only screen and (max-width: 600px) {}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}
